</div>
<!-- End Page Row -->
</div>
<!-- End Page Container -->
</div>
<!-- End Page Wrapper -->

<!-- Footer Section -->
<footer class="footer">
    <div class="page-container">
        <div class="row">
            <div class="col-md-4">
                <div class="foot-widget pr-md-4 mb-md-0 mb-4">
                    <h5 class="mb-3">About Us</h5>
                    <p class="text-white text-justify">
                        If you are willing to find your dream government job, allgovernmentjobs is probably the best website you can ever visit. Right from letting you find government jobs to providing a sleek and easy interface, we are simply the best.
                    </p>

                    <br />
                    <p class="text-white text-justify">
                        We deliver government jobs information in different sectors. Ranging from Finance, Engineering to Sports Quota, our website is the one stop destination to all your government job queries. With us, you can find your wishful jobs based on qualification metrics.
                    </p>

                    <br />
                    <p class="text-white text-justify">
                        Also, we deliver notifications for every single job post so that you don’t miss on any essential job posting. The notifications are delivered for every single job posts where you can visit the website and see your category jobs.
                    </p>

                    <br />
                    <p class="text-white text-justify">
                        We perform deep analysis and bring to you top jobs by recruitment boards. Be it the AAI, AHC, AIMMS, Delhi or any other board; you can trust us to bring the best possible job information in lesser time.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="foot-widget quick-links mb-md-0 mb-4">
                    <h5 class="mb-3">Quick Links</h5>
                    <ul>
                        <% Object.keys(left_side_pages).forEach(function(key) { %>
                            <li>
                                <a href="/<%- key.split('_').join('-').toLowerCase(); %>">
                                    <i class="fas fa-arrow-right mr-1"></i>
                                    <%- left_side_pages[key] %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="foot-widget contact-info">
                    <h5 class="mb-3">Contact Us</h5>
                    <ul>
                        <li class="d-flex align-items-center text-white mb-3">
                            <i class="fas fa-phone-alt mr-2"></i>
                            <p class="text-white"><a href="tel:+91 12345 67890">+91 12345 67890</a></p>
                        </li>
                        <li class="d-flex align-items-center text-white mb-3">
                            <i class="fas fa-envelope-open mr-2"></i>
                            <p class="text-white"><a href="mailto:info@jobsnplacements.com">info@jobsnplacements.com</a></p>
                        </li>
                        <li class="d-flex align-items-center text-white">
                            <i class="fas fa-map mr-2"></i>
                            <p class="text-white">Mohali , Punjab, India</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <div class="page-container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright text-white text-sm-left text-center mb-sm-0 mb-1">
                    Copyright © 2021
                    <span>jobsnplacements</span>
                </p>
            </div>
            <div class="col-sm-6">
                <div class="social-link">
                    <ul class="d-flex justify-content-sm-end justify-content-center">
                        <li><a href="https://www.facebook.com/jobsnplacementsofficialpage" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:void();"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:void();"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="javascript:void();"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<!-- End Body Wrapper -->

<!-- Includes Js -->
<script src="/assets/library/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/popper.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/library/js/custom.js"></script>

<script>

    // Initialize the agent at application startup.
    const fpPromise = new Promise((resolve, reject) => {
        const script = document.createElement('script')
        script.onload = resolve
        script.onerror = () => reject('Failed to load the script')
        script.async = true
        script.src = 'https://cdn.jsdelivr.net/npm/'
        + '@fingerprintjs/fingerprintjs@3/dist/fp.min.js'
        document.head.appendChild(script)
    })
    .then(() => FingerprintJS.load());
</script>

<script>
    let $this = this;
    function search() {
        let txt = $('#search-box-txt').val();
        window.location.replace('<%- base_url %>/search/'+ txt.split(' ').join('-'));
    }

    function saveFcmToken( token ) {
        console.log('api_base_url', api_base_url);

        // Get the visitor identifier when you need it.
        fpPromise
        .then(fp => fp.get())
        .then(result => {
            // This is the visitor identifier:
            const visitorId = result.visitorId
            console.log('visitorId', visitorId)

            $.ajax({
                url: api_base_url+'/fcm',
                method: 'POST',
                dataType: 'JSON',
                data: {
                    fcm_device_type: 'WEB',
                    fcm_token: token,
                    device_token: visitorId,
                    device_info: {}
                },
                success: function( retdata ) {
                    console.log('retdata', retdata);
                },
                error: function(e){
                    console.log(e);
                }
            });
        })
        .catch(error => console.error(error));
    }
</script>


<!-- <p class="fcm-token-hide" id="token"></p> -->
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-messaging.js"></script>
<script>
    var firebaseConfig = {
        apiKey: "AIzaSyCnt75fJxj5QGSCgESdXA6Frf4OGHLJnOU",
        authDomain: "jobsnplacements-android-fcm.firebaseapp.com",
        projectId: "jobsnplacements-android-fcm",
        storageBucket: "jobsnplacements-android-fcm.appspot.com",
        messagingSenderId: "1058558568445",
        appId: "1:1058558568445:web:6f9016ea440b49a918db94",
        measurementId: "G-YZZGM6NSK9"
    };
    firebase.initializeApp(firebaseConfig);
    const messaging=firebase.messaging();

    function IntitalizeFireBaseMessaging() {
        messaging
            .requestPermission()
            .then(function () {
                console.log("Notification Permission");
                return messaging.getToken();
            })
            .then(function (token) {
                console.log("Token : "+token);
                document.getElementById("token").innerHTML=token;

                $this.saveFcmToken( token );
            })
            .catch(function (reason) {
                console.log(reason);
            });
    }

    messaging.onMessage(function (payload) {
        console.log(payload);
        const notificationOption={
            body:payload.notification.body,
            icon:payload.notification.icon
        };

        if(Notification.permission==="granted"){
            var notification=new Notification(payload.notification.title,notificationOption);

            notification.onclick=function (ev) {
                ev.preventDefault();
                window.open(payload.notification.click_action,'_blank');
                notification.close();
            }
        }

    });
    messaging.onTokenRefresh(function () {
        messaging.getToken()
            .then(function (newtoken) {
                console.log("New Token : "+ newtoken);
            })
            .catch(function (reason) {
                console.log(reason);
            })
    })
    IntitalizeFireBaseMessaging();
</script>

</body>
</html>