<!-- left Sidebar -->
<div class="col-lg-3 order-lg-1 order-2">
    <div class="left-sidebar">
        <!-- Social Links -->
        <div class="widget">
            <div class="widget-content p-0">
                <div class="sidebar-socialLink">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/jobsnplacementsofficialpage" target="_blank" class="social-btn-facebook">Follow on Facebook<i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="/bsah-recruitment-2021/job-details" class="social-btn-twitter" target="_blank">Follow on Twitter<i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="/bsah-recruitment-2021/job-details" class="social-btn-linkedin" target="_blank">Follow on LinkedIn<i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/jobsnplacements/" class="social-btn-instagram" target="_blank">Follow on Instagram<i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Latest Jobs -->
        <div class="widget">
            <div class="section-title">
                <h2><span>Latest Jobs</span></h2>
            </div>
            <div class="widget-content">
                <div class="latest-jobs">
                    <ul class="post-list-v1">

                        <li>
                            <div class="post-date">Dec 05 2015</div>
                            <div class="post-title"><a href="/bsah-recruitment-2021/job-details">Celebrated am announcing delightful remarkably we</a></div>
                            <div class="post-des">It bachelor cheerful of mistaken. Tore has sons put upon wife use bred seen.</div>
                        </li>
                        <li>
                            <div class="post-date">Dec 05 2015</div>
                            <div class="post-title"><a href="/bsah-recruitment-2021/job-details">Celebrated am announcing delightful remarkably we</a></div>
                            <div class="post-des">It bachelor cheerful of mistaken. Tore has sons put upon wife use bred seen.</div>
                        </li>
                        <li>
                            <div class="post-date">Dec 05 2015</div>
                            <div class="post-title"><a href="/bsah-recruitment-2021/job-details">Celebrated am announcing delightful remarkably we</a></div>
                            <div class="post-des">It bachelor cheerful of mistaken. Tore has sons put upon wife use bred seen.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Pages Lists -->
        <div class="widget">
            <div class="section-title">
                <h2><span>Pages</span></h2>
            </div>
            <div class="widget-content">
                <div class="category">
                    <ul class="cat-items">
                        <!-- <li>
                            <a href="/bsah-recruitment-2021/job-details">Beauty</a>
                            <span>(6)</span>
                        </li> -->
                        <% Object.keys(left_side_pages).forEach(function(key) { %>
                            <li>
                                <h3 style="font-size: 12px;"><a href="/<%- key.split('_').join('-').toLowerCase(); %>"><%- left_side_pages[key] %></a></h3>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Category Lists -->
        <div class="widget">
            <div class="section-title">
                <h2><span>Categories</span></h2>
            </div>
            <div class="widget-content">
                <div class="category">
                    <ul class="cat-items">
                        <!-- <li>
                            <a href="/bsah-recruitment-2021/job-details">Beauty</a>
                            <span>(6)</span>
                        </li> -->
                        <% Object.keys(left_side_categories).forEach(function(key) { %>
                            <li>
                                <a href="/bsah-recruitment-2021/job-details"><%- left_side_categories[key] %></a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Category Lists -->
        <div class="widget">
            <div class="section-title">
                <h2><span>Qualifications</span></h2>
            </div>
            <div class="widget-content widget-content-scroll">
                <div class="category">
                    <ul class="cat-items">
                        <% Object.keys(left_side_qualification).forEach(function(key) { %>
                            <li>
                                <h3 style="font-size: 12px;"><a href="/bsah-recruitment-2021/job-details"><%- left_side_qualification[key] %></a></h3>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
        <!-- left_side_qualification -->
    </div>
</div>