<!-- Search Box -->
<div class="search-box">
    <form>
        <input type="text" placeholder="Search This Blog" id="search-box-txt">
        <button type="button" onclick="search()"><span>Search</span></button>
    </form>
</div>